<html lang='en'>
  <head>
    <title>Acuerdo</title>
    <link rel='stylesheet' href='{{{env}}}/acuerdo.css' />
  </head>

  <body>
    <div class='table'>
      <div class='row'>
        <img src='{{{env}}}//logo.jpeg' alt='logo' class='logo cell' />
        {{! Expediente }}
        <div class='cell expediente'>
          <div class='row'>
            <p class='label-exp'>Expediente:</p>
            <div class='cell texto-exp'>
              <p class='data-exp'>{{{message}}}</p>
            </div>
          </div>
          {{! Fecha }}
          <div class='cell fecha'>
            <div class='row'>
              <p class='cell label-fecha'>Fecha:</p>
              <p class='cell data-fecha'>
                06 JUNIO 2021
              </p>
            </div>
          </div>
        </div>
      </div>

      {{! ------ PRIMERA FILA ------- }}
    </div>
    <div class='table primera-fila'>
      <div class='row'>

        <div class='cell primera-fila-item'>

          <p class='cell label'>PROBLEMA: </p>
          <p class='data-box problema-data'>
            Descripcion problema Descripcion problemaDescripcion
            problemaDescripcion
          </p>

        </div>

        <div class='cell primera-fila-item'>
          <div class='row'>
            <p class='cell label'>ASISTENCIA: </p>
            <p class='cell data-box'>
              Mercedez Benz
            </p>
          </div>
        </div>

      </div>

      {{! ------ SEGUNDA FILA ------- }}
      <div class='row'>
        <div class='cell primera-fila-item'>
          <div class='row'>
            <p class='cell label'>DIRECCION: </p>
            <p class='cell data-box'>Av. Tecnologico 1500, Lomas de Santiaguito
            </p>
          </div>
        </div>

        <div class='cell primera-fila-item'>
          <div class='row'>
            <p class='cell label'>ASESOR: </p>
            <p class='cell data-box'>
              Daniel Campos Hoppe
            </p>
          </div>
        </div>

      </div>

      {{! ------ SEGUNDA FILA ------- }}
      <div class='row'>
        <div class='cell primera-fila-item'>
          <p class='cell label'>USUARIO: </p>
          <p class='cell data-box'>Itzia La Egipcia
          </p>
        </div>

        <div class='cell primera-fila-item'>

          <p class='cell label'>SE REALIZO: </p>
          <p class='data-box data-realizo'>
            Se limpio el tinaco
          </p>

        </div>
      </div>
      {{! ------ TERCERA FILA ------- }}
      <div class='row primera-fila-item'>
        <div class='cell'>
          <div class='row'>
            <div class='cell label'>HORAS: </div>
            <p class='cell data-box hora'>
              10:30 am
            </p>
            <p class='cell data-box hora'>
              11:20 am
            </p>
            <p class='cell data-box hora'>
              12:30pm
            </p>
          </div>
        </div>

      </div>

      <div class='row primera-fila-item'>
        <div class='cell observaciones'>
          <div class='cell label'>OBSERVACIONES: </div>
          <p class='data-box data-observaciones'>
            Observacion Observacion Observacion Observacion Observacion
            Observacion Observacion Observacion Observacion Observacion
            Observacion Observacion Observacion Observacion Observacion
            Observacion Observacion Observacion Observacion Observacion
            Observacion Observacion Observacion Observacion
          </p>

          <div class='row'>
            <img src='{{{env}}}//whatsapp.svg' alt='logo' class='cell whatsapp' />
            <p class='cell whatsapp'>44 34 71 43 56</p>
          </div>
        </div>
        <div class='cell conformidad'>
          <div class='cell label'>CONFORMIDAD </div>
          <img src='{{{env}}}//firmas//{{{firma}}}' alt='logo' class='firma firma-img' />
          <p class='data-box firma'>
            Itiza la egipcia
          </p>
        </div>

      </div>
    </div>
  </body>
</html>
